<div class="pluginViewContainer logContainer" id="mcsLogReader" hidden>

    <h3>MCS log reader</h3>

    <table class="table">
        <tbody data-bind="foreach: logMessages">
            <tr>
                <td><span data-bind="text: $data"></span></td>
            </tr>
        </tbody>
    </table>

</div>
