/* TODO: Have your plugin's CSS files generated to here. */

.detail-plot-container {
    width: 100%;
    height: 150px;
}
.detail-plot {
    width: 100%;
    height: 100%;
}

/* TODO: Have your plugin's CSS files generated to here. */

canvas {
	display: block;
	outline: none;
	width: 100%;
	height: 100%;
}

#argcode {
	width: 100%;
	height: 50vh;
}
